* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-columns: 200px 1fr;
    width: 100vw;
}

nav {
    grid-column: 1 / span 1;
    width: 100%;
    height: 100vh;
}

#gallery {
    grid-column: 2 / span 1;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.gallery {
    /*display: flex;
    flex-direction: row;
    flex-wrap: wrap;*/
    display: grid;
    grid-template-columns: repeat(3, auto);
    /*grid-auto-rows: auto;*/
    gap: 10px;
    width: 100%;
}

.gallery_object {
    max-width: 100%;
    min-height: 100%;
}